<div class="container-fluid">
  <header class="jumbotron" align="center">
    <div class="sunny"></div>
    <div class="cloudy"></div>
    <div class="rainy"></div>
    <div class="snowy"></div>
    <div class="rainbow"></div>
    <div class="starry"></div>
    <div class="stormy"></div>
  </header>

  <div class="">
    <header class="modal-header">
      <div class="row">
        <div class="">
          <h1><strong><code>Live Weather Forecasting App : by Arnab Ghosh_</code></strong></h1>
        </div>
      </div>
    </header>
    <div class="">
      <div class="transbox">
        <!-- <label>Search your location : </label> -->
        <div class="row">
          <div class="col-lg-11">
            <input
              #city
              type="text"
              name=""
              id=""
              class="form-control"
              placeholder="search your location. e.g.: barasat, delhi, chennai, mumbai, bangaluru, hyderabad, odisha, australia, toronto, new-york, edinburg, madrid, manchester etc."
            />
          </div>
          <div class="col-lg-1">
            <button
              (click)="searchCity(city)"
              class="btn btn-md btn-outline-warning"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- preloader gif will load here -->
    <div id="preLoader" align="center"></div>
    <!-- preloader gif will load here -->

    <!-- Weather-report will be loaded here -->
    <div id="card">
      <div class="transbox">
        <h3>
          Today's Weather of <code>{{ currentregion }}</code> &#9662;
        </h3>
      </div>

      <div class="">
        <!-- current weather report STARTS -->
        <div class="row transbox">
          <div class="col-lg-4 border-right">
            <div>
              <header class="modal-header">
                <h1>
                  {{ currentWeatherData.comment }}

                  <img
                    [src]="currentWeatherData.iconURL"
                    style="width: 100px; height: 100px"
                  />
                </h1>
              </header>
            </div>

            <i class="badge badge-pills badge-warning"
              >Last updated on : {{ currentWeatherData.dayhour }}</i
            >
          </div>

          <div class="col-lg-8">
            <h5>
              Humidity : <code>{{ currentWeatherData.humidity }}</code>
            </h5>
            <h5>
              Precipitation : <code>{{ currentWeatherData.precip }}</code>
            </h5>
            <h5>
              Current Temperature :
              <code>{{ currentWeatherData.temp.c }}&deg;C</code>
            </h5>
            <h5>
              Wind : <code>{{ currentWeatherData.wind.km }} km/hr</code>
            </h5>

            <button (click)="populate()" class="btn btn-sm btn-success">
              Refresh
            </button>
          </div>
        </div>
        <!-- current weather report ENDS -->

        <!-- <hr color="#ccc" />
        <hr color="#ccc" /> -->

        <!-- next-days forcast STARTS -->
        <div class="container-fluid">
          <div class="row">
            <!-- the following div will repeate for each da of the week -->
            <div *ngFor="let d of nextDay" class="transbox col-lg-3">
              <h2 class="modal-header">{{ d.day }} &#9662;</h2>

              <h3>
                {{ d.comment }}
                <img [src]="d.iconURL" style="width: 50px; height: 50px" />
              </h3>

              <h3>
                Max : <code>{{ d.max_temp.c }}&deg;C</code>
                <br />
                Min : <code>{{ d.min_temp.c }}&deg;C</code>
              </h3>
            </div>
            <!-- repeating div ENDS -->
          </div>
          <!-- row ENDS -->
        </div>
        <!-- container-fluid for next-day-forcasts ENDS -->
      </div>
      <!-- next-days forcast ENDS -->
    </div>
    <!-- Weather-report will be loaded here -->
  </div>
  <!-- Card ENDS -->
</div>
<!-- container-fluid ENDS -->
